<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"> Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 1</li>
                <li class="list-group-item">Info 1</li>
            </div>
        
        
        </div>

    <div class="col-md-9">
        <div class="thumbnail">
         <img class="image-responsive" src="<%= foundcampground.image%>">
         <div class="caption-full"> <h4 class="pull-right">$9.00/night</h4>   <h4>  <a><%= foundcampground.name %></a> </h4> 
         <p>  <%= foundcampground.description %> </p>
         <p> Submitted by  <%= foundcampground.author.username %> </p>
          <% if (currentUser) {%>
         <% if (foundcampground.author.id.equals(currentUser._id)){%>
         <div class="juntos">
         <a href="/campgrounds/<%=foundcampground._id%>/edit" class="btn btn-warning margen">Edit </a> 
         <form action="/campgrounds/<%=foundcampground._id%>?_method=delete" method="POST">
             <button class="btn btn-danger"> Delete </button>
         </form></div>
           <% } } %>
         </div>
        </div>
        <div class="well">
            <div class="text-right"><a href="/campgrounds/<%=foundcampground._id%>/comments/new"class="btn btn-success btn-small">Add new comment </a>
            <hr>
            </div>
            
            <% foundcampground.comments.forEach(function(comment){ %>
               <div class="row">
                <div class="col-md-12">
                 <strong> <%= comment.author.username %> </strong>
                 <span class="pull-right">10 days ago</span> 
                 <p>  <%= comment.text %></p>
     <% if (currentUser && comment.author.id.equals(currentUser._id)) {%>
                   <div class="juntos">
                         <a href="/campgrounds/<%= foundcampground._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-warning margen"> Edit </a>
                  <form action="/campgrounds/<%=foundcampground._id%>/comments/<%= comment._id %>?_method=delete" method="POST">
             <button class="btn btn-xs btn-danger"> Delete </button>
         </form>
                   </div>         
           
                 
                 <% } %>
                </div> </div>
            <% });%>
        </div>
    </div>
</div>

</div>






<% include ../partials/footer %>